html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
  color: white;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.head-container {
  text-align: center;
  justify-content: center;
}

.head-container h6 {
  color: white;
  font-size: 3em;
  font-family: "Orbitron", sans-serif;
  margin: 20px;
}

.head-container p {
  position: relative;
  top: 0;
  width: 80%;
  padding-top: 10vh;
  margin: 0 auto;
  text-align: left;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.5vw;
  color: #c5c2c3;
}

.desp-content {
  background-image: url("../img/bg/about_my_creators.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.desp-content p {
  font-size: 1.5em;
  font-family: "IBM Plex Mono", monospace;
  color: #c5c2c3;
}

.desp-content .blue-text {
  margin-top: 15vw;
  font-size: 3em;
  color: #30b5ff;
  font-family: "Orbitron", sans-serif;
}

.desp-content .pure-g {
  height: 50vw;
}

.pure-u-1-2 {
  height: 100%;
}

#step1 {
  position: relative;
  padding: 0 5%;
  top: 30%;
}
#step2 {
  position: relative;
  top: 20%;
  padding: 0 5%;
}

#step3 {
  position: relative;
  top: 10%;
  padding: 0 5%;
}

#step4 {
  position: relative;
  top: 40%;
  padding-left: 10%;
}

/***tmp***/

@media (max-width: 1300px) {
  #step2 {
    top: 10%;
  }
  .onscale-roll#step2 {
    max-height: 70vw;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media (max-width: 992px) {
  .head-container p {
    font-size: 1.2em;
    padding-top: 2vh;
  }
  .blue-text {
    font-size: 2em !important;
  }
}

@media (max-width: 768px) {
  /* .head-container p {
    font-size: 1em;
  } */
  .pure-u-1-2 p {
    font-size: 1.2em;
  }
  #step2 {
    top: 8%;
  }
  #step3 {
    top: 0;
  }
}

@media (max-width: 576px) {
  .blue-text {
    font-size: 1.5em !important;
  }
  #step1 {
    top: 20%;
  }
  .onscale-roll#step3 {
    max-height: 35vw;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.onscale-roll::-webkit-scrollbar {
  width: 5px;
}

.onscale-roll::-webkit-scrollbar-track {
  background: #c5c2c3;
}

.onscale-roll::-webkit-scrollbar-thumb {
  background: pink;
}
