/* CSS Document */
:root {
  --main-color: white;
  --cpurple: #8d6be2;
  --cyellow: #ffff66;
  --cpink: #fbadd4;
  --ccyan: #01ffc3;
  --cgreen: #96fdde;
  --cblue: #85c8ff;

  --lyellow: #ffff66c4;
  --lpink: #fbadd4c4;
  --lcyan: #01ffc3c4;
  --lgreen: #96fddec4;
  --lblue: #85c8ffc4;
}

body {
  background-image: url("../img/bg/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

span {
  font-size: 2em;
  padding-left: 20px;
}

h1 {
  font-size: 3em !important;
  margin: 0 20px !important;
  color: #fff !important;
  font-family: "Orbitron", sans-serif !important;
}

h2 {
  font-size: 2em;
}

.main {
  margin: 20px 50px 50px 50px;
}

.button-memory {
  text-align: left;
  display: inline-block;
  margin: 20px 0;
  height: 100px;
  width: 100%;
  cursor: pointer;
  border: 5px solid #ffffffbb;
  box-shadow: inset 0 0 5px var(--cpurple), inset 0 0 50px var(--cpurple),
    inset 0 0 10px var(--cpurple), 0 0 10px var(--cpurple),
    0 0 1px var(--cpurple), 0 0 20px var(--cpurple);
  background: transparent;
  color: #fff;
  font-family: "Orbitron", sans-serif;
}

.button-memory:hover {
  border: 5px solid #ffffff;
}

.content-container {
  border: 5px solid white;
  width: 100%;
  height: 100%;
}

.center {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
